<form class="" [formGroup]="filtersFormGroup">

  <div class="inputs">

    <mat-form-field class="" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field class="" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName"/>
    </mat-form-field>
    <mat-form-field class="" appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age"/>
    </mat-form-field>
    <mat-form-field class="" appearance="outline">
      <mat-label>Faculty</mat-label>
      <input matInput formControlName="faculty"/>
    </mat-form-field>

  </div>

  <button mat-raised-button color="accent"
          [disabled]="!filtersFormGroup?.valid"
          (click)="save()">Save</button>
</form>
